* {
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}

/* The main appplication */
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Make the title attractive */
.title {
    color: #2196f3;
    font-size: 2em;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* The canvas with a fix height and width */
/* Style it with some border shadow */
.canvas {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    display: grid;
}

/* The square cell of the canvas */
.square {
    user-select: none;
}

.border {
    border: 1px solid black;
}

/* The control board */
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Style the buttons */
button {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #4caf50;
    border: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Style the slider */
.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sizeSlider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
#sizeSlider:hover {
    opacity: 1;
}
#sizeLabel {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Style the color picker */
#colorPicker {
    width: 100%;
    margin: 10px;
    cursor: pointer;
}
